* {
  @font-face {
    font-family: carmenSansRegular;
    src: url('../../vendors/fonts/carmen-sans/Carmen\ Sans\ Regular.otf');
  }

  @font-face {
    font-family: carmenSansMedium;
    src: url('../../vendors/fonts/carmen-sans/Carmen\ Sans\ Medium.otf');
  }

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  .container {
    background-color: #E5E5E5;

    .sidebar {
      display: flex;
      flex-direction: column;
      width: 287px;
      min-height: 100vh;
      position: absolute;
      background: #FFFFFF;
      left: 0%;
      right: 0%;
      top: 0px;
      border: 1px solid #FFFFFF;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      box-shadow: #0000004f 2px 3px 6px 0px;

      >div:first-child {
        text-align: right;
        img {
          margin: 17px 17px 0 0 ;
          cursor: pointer;
        }
      }

      .sidebar-profile {
        margin: 18px 0;
        display: flex;

        img {
          padding: 0 25px;
        }

        div {
          margin-top: 5px;
          >p:first-child {
            width: 81px;
            height: 18px;
  
            font-family: carmenSansMedium;
            font-size: 18px;
            line-height: 18px;
  
            text-align: center;
  
            color: #262626;
          }
          >p:last-child {
            width: 96px;
            height: 18px;
            left: 85px;
            top: 86px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;

            color: #D75F8D;
          }
        }
      }

      .sidebar-menu {  
        padding-bottom: 42px; 
        >li {
          cursor: pointer;
          display: flex;
          padding-left: 35px;
          margin-top: 20px;
          p {  
            font-family: Roboto;
            font-style: normal;
            font-size: 18px;
            line-height: 18px; 
  
            color: #747474;
            align-self: center;
            margin: 17px 22px;  
            font-weight: 400; 
          }
        } 
        .events-image {
          display: flex;
          position: relative;
          
          >div {
            position: absolute;
            width: 13px;
            height: 13px;
            left: 17px;
            top: 10px;
            font-family: Roboto;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            border-radius: 50%;
            color: #FFFFFF;
            background-color: #d75f8d;
          }            
        }

        >li:hover {
          p {
            font-weight: 500;
          }
        }
      }

      .logout {
        margin-top: auto;
        p {
          color: #262626 !important;
        }
      }
    }

    .main {
      position: absolute;
      min-height: 100%;
      left: 287px;
      right: 0%;
      top: 0px;
      background-color: initial;

      .search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 28px;
        margin-right: 0;
        .search-input {
          flex: 1;
          position: relative;
          input {
            float: left;
            height: 60px;
            width: 100%;
            padding: 0 50px;
            background: #FFFFFF;
            border: 2px solid #DBDBDB;
            box-sizing: border-box;
            border-radius: 5px;
          }
          img {
            position: absolute;
            top: 20px;
            left: 25px;
          }
          p {
            position: absolute;
            top: 60px;
            left: 56px;
            font-family: Roboto;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            
            
            color: #747474;
          }
        }
        .search-home {
          padding: 0 28px;
        }
      }
    }
  }

}